.DS_Store
npm
npm-debug.log
node_modules/
package-lock.json
config.js
public/bundle.js
coverage/
database/postgresql/data/artistsTable.csv
database/postgresql/data/playlistsTable.csv
database/postgresql/data/songsTable.csv
database/postgresql/data/genres_songsTable.csv
dump.rdb
newrelic_agent.log
SDC-125.pem